.App {
  height: 100px;
  text-align: center;
}

.card-body {
  height: 8rem;
}

.card-img-top {
  height: 25rem;
}

.buscar {
  max-width: 365px;
}

@media screen and (max-width: 575px) {
  .card-img-top {
    height: 35rem;
  }

  .buscar {
    max-width: 100%;
  }
}